# IDE and environment files exclude
.joosc_build/
.venv/
.cache/
.trunk/
.vscode/launch.json
__pycache__/

# Build files exclude
build*/
joosc_build/
tests/generated/
joosc
!joosc/

# Auto documentation exclude
docs/api
docs/_static/doxygen-html

# Misc files exclude
out.dot
*.vsix
